allow audioserver mediaserver_service:service_manager find;
allow audioserver tvserver:binder { transfer call };
allow audioserver sysfs_cpuinfo:dir search;
allow audioserver sysfs_cpuinfo:file { getattr open read };
