

# Access /efs/wifi/.mac.info
allow system_server efs_file:dir search;
allow system_server efs_file:file { read open };
allow system_server device:chr_file { ioctl };

# SELINUX_IGNORE_NEVERALLOWS
allow system_server vendor_file:file execmod;

# Wi-Fi
allow system_server self:capability sys_module;
